{% extends "main/base.html" %} {% load static %} {% block content %}
<div class="c my-5">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis,
    inventore at earum molestiae facere labore veritatis. Odit rerum ut
    accusantium sapiente commodi? Obcaecati dignissimos dicta quod, aut
    veritatis explicabo inventore odio perspiciatis quisquam magni ut? Quis,
    porro illo tempore reprehenderit perspiciatis sequi accusantium ducimus
    voluptatibus quibusdam commodi nemo fugit nobis, illum repellat earum est
    animi debitis modi aut consequatur mollitia blanditiis adipisci! Quas, odit.
    Nisi asperiores nostrum fuga atque consequuntur odit nihil, facilis
    explicabo corrupti eius aperiam maiores blanditiis itaque placeat hic culpa
    accusantium soluta quisquam id. Facilis tempore illum dolore voluptatibus
    eaque expedita eligendi sunt numquam. Et facilis rerum id! Laboriosam
    consequatur nihil magni dolor ipsa atque in dolorum quasi omnis quia? Amet
    pariatur facere adipisci ad dignissimos molestiae? Deleniti magnam alias
    perferendis rem sapiente libero id harum neque in, fuga officiis tempora,
    magni facere! Molestias, alias, corrupti quasi nostrum laudantium
    repellendus fuga asperiores, eligendi laborum provident ex fugit!
  </p>
</div>

<div class="row">
  <div class="col-md-8 col-sm-12">
    <div class="about-1">
      <h2 class="mt-5 text-white"><strong>{{ content }}</strong></h2>
      <p class="m-2 text-white">{{ text_on_page }}</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2175.3026992408886!2d24.127853696272485!3d56.96074723012985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eecfcac3ce638b%3A0x72f4cc0eeaf73399!2zQnLEq3bEq2JhcyBpZWxhIDEwMCwgQ2VudHJhIHJham9ucywgUsSrZ2EsIExWLTEwMDE!5e0!3m2!1sru!2slv!4v1721743568650!5m2!1sru!2slv"
        width="800"
        height="600"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 text-center">
    <h2 class="my-1">About Us</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet laboriosam
      distinctio cum, dolores modi obcaecati voluptas in nihil magnam quasi
      soluta dignissimos ad nesciunt rerum nam vitae eos? Molestiae expedita
      ratione tenetur vel doloremque soluta, ex adipisci explicabo vitae a
      impedit facilis repudiandae dolore voluptatem aperiam provident nobis, qui
      ipsam.
    </p>
  </div>
</div>

{% endblock %}
